.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-buttons {
  transition: background-color 0.3s ease;
}

.navbar-buttons:hover {
  background-color: #007bff;
  color: white;
}
@keyframes notification-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}

.notification-button:hover {
  animation: notification-bounce 1s infinite;
}
.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Add this line for vertical scrolling */
  max-height: calc(
    100vh - 120px
  ); /* Set a maximum height for the messages container */
}

.message {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  position: sticky;
  bottom: 0; /* Stick the input container to the bottom */
}

input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
